@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body{
    margin: 0px;
    padding: 0px;

}
header{
    background-color: rgb(2, 41, 39);
    margin: 0px;
    padding: 0px;
}
.container{
    position: relative;
    text-align:center;
    transform-origin: 0;
}
.logo{
    background-color: rgb(3, 29, 3);
    margin: 0px;
    padding: 0px;

}


.Final_portada{
    height: 55px;
    width: 100%;
    color: aliceblue;
    text-align: center;
    
}

div.redes{
    text-align: right;
}


.redes a img{
    width: 40px;
    padding: 0px;
    margin:0px
}


#galeria .col-12 {
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 250px;
}

footer{
    background-color:#145e02;

}
footer .pie_pagina{
    color: rgb(180, 193, 228);
}

.form-control small{
    color: #ff0a01;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}